.table thead tr th {
    text-align: center;
}

.table tbody tr td {
    text-align: center;
}

.table tbody tr td button {
    text-align: right !important;
}

.col-xl {
    float: 0 0 auto;
    width: 100%;
}

.container-fluid h3 {
    width: 1200px;
    margin: 0 auto;

}

.container-fluid div {
width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    position: relative !important ;
    width: 100% !important ;
    min-width: 1200px !important ;
    height: auto !important ;
    }