<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>News</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <style>
        .table>:not(caption)>*>* {
    padding: 4rem 8rem 1rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

        .up {
            color: #fc2f2f !important;
        }
    </style>
</head>

<body style="margin:0 0;">
<div class="container-xxl position-relative bg-white d-flex p-0">
       {% include 'accounts/header.html' %}
        <div class="col-sm-12 col-xl-6" style="width: 1321px; height:50rem;">
            <div class="bg-light rounded h-100 p-4" >
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">뉴스리스트</button>
                    </li>
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"-->
<!--                            data-bs-target="#pills-profile" type="button" role="tab"-->
<!--                            aria-controls="pills-profile" aria-selected="false">키워드/이슈</button>-->
<!--                    </li>-->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab"
                            aria-controls="pills-contact" aria-selected="false">키워드별 뉴스</button>
                    </li>
                </ul>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="container-fluid p-4 px-4">
                            <div class="tab-content" >
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-6 col-xl-4"  id="piles-home">
                                        <div class="h-100 bg-light rounded p-4" style="position:relative; bottom:30px;">
                                            <div class="d-flex align-items-center border-bottom py-3" style="margin-top: 52px;">
                                                <div class="w-100 ms-3">
                                                    <div class="d-flex w-100 justify-content-between" style="width: 60px; height: 60px;">
                                                        <a class="mb-0" href="#" style="color:black;font-weight: bold;">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a><br>
                                                        <small>15 minutes ago</small><br><br>
                                                    </div>
                                                    <span>에코프로머티리얼즈(이하 에코프로머티)가 상장 이후 3거래일 동안 이틀 연속 상한가를...</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center border-bottom py-3" style="margin-top: 52px;">
                                                <div class="w-100 ms-3">
                                                    <div class="d-flex w-100 justify-content-between" style="width: 60px; height: 60px;">
                                                        <a class="mb-0" href="#" style="color:black;font-weight: bold;">광주·대구시 "달빛철도, '복선·일반철도'로…고속철 집착안해"(종합)</a><br>
                                                        <small>15 minutes ago</small><br><br>
                                                    </div>
                                                    <span>정차역 많아 고속·일반철도 시간차 미미…복선 건설은 지속 건의 광주시와 대구시가 달 ...</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center border-bottom py-3" style="margin-top: 52px;">
                                                <div class="w-100 ms-3">
                                                    <div class="d-flex w-100 justify-content-between" style="width: 60px; height: 60px;">
                                                        <a class="mb-0" href="#" style="color:black;font-weight: bold;">英 에너지기업, 韓에 1.5조 투자…신재생에너지 프로젝트 가속화 전망</a><br>
                                                        <small>15 minutes ago</small><br><br>
                                                    </div>
                                                    <span>尹 대통령 영국 국빈방문 계기, 2개 기업과 투자신고식 윤석열 대통령의 영국 국빈 방문...</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center border-bottom py-3" style="margin-top: 52px;">
                                                <div class="w-100 ms-3">
                                                    <div class="d-flex w-100 justify-content-between" style="width: 60px; height: 60px;">
                                                        <a class="mb-0" href="#" style="color:black;font-weight: bold;">빚 갚을 돈 없는 자영업자들… 기댈 곳 ‘카드론 돌려막기’뿐</a><br>
                                                        <small>15 minutes ago</small><br><br>
                                                    </div>
                                                    <span>금융사 3곳 이상에서 돈을 빌린 다중 채무 자영업자의 연체액이 급증했다. 당장 대출금...</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center border-bottom py-3" style="margin-top: 52px;">
                                                <div class="w-100 ms-3">
                                                    <div class="d-flex w-100 justify-content-between" style="width: 60px; height: 60px;">
                                                        <a class="mb-0" href="#" style="color:black;font-weight: bold;">빚 갚을 돈 없는 자영업자들… 기댈 곳 ‘카드론 돌려막기’뿐</a><br>
                                                        <small>15 minutes ago</small><br><br>
                                                    </div>
                                                    <span>금융사 3곳 이상에서 돈을 빌린 다중 채무 자영업자의 연체액이 급증했다. 당장 대출금...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <span class="border border-primary" style="position: relative; top: 65px;">
                        <div class="container">
                            <div class="circle_chart">
                                <svg viewBox="0 0 520 500" width="520" height="500" class="bubble_chart-svg" style="position: relative; right: 130px;">
                                    <g class="node" transform="translate(168.12390518393835 222.44094220301767)" style="cursor: pointer;">
                                    <g class="graph"><circle r="76.76696988791615" id="circle_0_R1" style="fill: rgb(62, 17, 224);"></circle>
                                        <text dy="0.3em" id="text_0_R1" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 34px; fill: rgb(255, 255, 255); pointer-events: none;">HBM</text>
                                        <text dy="0.9em" id="issn_0_R1" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 34px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(313.41802625076355 222.44094220301767)" style="cursor: pointer;">
                                    <g class="graph"><circle r="64.69429441594528" id="circle_1_R1" style="fill:rgb(62, 17, 224);"></circle>
                                        <text dy="0.3em" id="text_1_R1" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 28px; fill: rgb(255, 255, 255); pointer-events: none;">반도체</text>
                                        <text dy="0.9em" id="issn_1_R1" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 28px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(251.94927290019177 335.27855172704193)" style="cursor: pointer;">
                                    <g class="graph"><circle r="59.96694892521868" id="circle_2_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="0.3em" id="text_2_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 26px; fill: rgb(255, 255, 255); pointer-events: none;">자동차</text>
                                        <text dy="0.9em" id="issn_2_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 26px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(251.7883604507095 111.90320369771354)" style="cursor: pointer;">
                                    <g class="graph"><circle r="58.03037463640288" id="circle_3_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="-0.2em" id="text_3_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 24px; fill: rgb(255, 255, 255); pointer-events: none;">OL</text>
                                        <text dy="0.9em" id="issn_3_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 24px; fill: rgb(255, 255, 255); pointer-events: none;">ED</text></g></g>
                                    <g class="node" transform="translate(145.29015315428947 98.4438699231837)" style="cursor: pointer;">
                                    <g class="graph"><circle r="45.48210768438424" id="circle_4_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="-0.2em" id="text_4_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 18px; fill: rgb(255, 255, 255); pointer-events: none;">2차</text>
                                        <text dy="0.9em" id="issn_4_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 18px; fill: rgb(255, 255, 255); pointer-events: none;">전지</text></g></g>
                                    <g class="node" transform="translate(68.14679628416835 149.46815204858683)" style="cursor: pointer;">
                                    <g class="graph"><circle r="43.175980382962805" id="circle_5_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="0.3em" id="text_5_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 17px; fill: rgb(255, 255, 255); pointer-events: none;">엔터</text>
                                        <text dy="0.9em" id="issn_5_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 17px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(46.2044482536993 235.77849722714504)" style="cursor: pointer;">
                                    <g class="graph"><circle r="42.04700107893151" id="circle_6_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="0.3em" id="text_6_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 17px; fill: rgb(255, 255, 255); pointer-events: none;">콘텐츠</text>
                                        <text dy="0.9em" id="issn_6_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 17px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(86.5057350494736 313.60232886172923)" style="cursor: pointer;">
                                    <g class="graph"><circle r="41.75998747793259" id="circle_7_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="0.3em" id="text_7_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 16px; fill: rgb(255, 255, 255); pointer-events: none;">화장품</text>
                                        <text dy="0.9em" id="issn_7_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 16px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(153.55119857309393 365.32038174472723)" style="cursor: pointer;">
                                    <g class="graph"><circle r="39.08212947097256" id="circle_8_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="0.3em" id="text_8_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 15px; fill: rgb(255, 255, 255); pointer-events: none;">은행</text>
                                        <text dy="0.9em" id="issn_8_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 15px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(352.08819259790357 321.0049211466765)" style="cursor: pointer;">
                                    <g class="graph"><circle r="37.351268296078906" id="circle_9_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="0.3em" id="text_9_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 15px; fill: rgb(255, 255, 255); pointer-events: none;">철강</text>
                                        <text dy="0.9em" id="issn_9_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 15px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(406.346914040571 267.7358170766882)" style="cursor: pointer;">
                                    <g class="graph"><circle r="34.852749554609254" id="circle_10_R2" style="fill: rgb(96, 90, 172);"></circle>
                                        <text dy="0.3em" id="text_10_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 14px; fill: rgb(255, 255, 255); pointer-events: none;">아이폰</text>
                                        <text dy="0.9em" id="issn_10_R2" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 14px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(411.28340488059575 196.50421927096556)" style="cursor: pointer;">
                                    <g class="graph"><circle r="32.71684089377874" id="circle_11_R3" style="fill: rgb(144, 150, 235);"></circle>
                                        <text dy="0.3em" id="text_11_R3" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 13px; fill: rgb(255, 255, 255); pointer-events: none;">증권</text>
                                        <text dy="0.9em" id="issn_11_R3" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 13px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                    <g class="node" transform="translate(371.77399276142614 151.25500083242628)" style="cursor: pointer;">
                                    <g class="graph"><circle r="23.520972518485532" id="circle_12_R3" style="fill: rgb(144, 150, 235);"></circle>
                                        <text dy="0.3em" id="text_12_R3" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 10px; fill: rgb(255, 255, 255); pointer-events: none;">음식료</text>
                                        <text dy="0.9em" id="issn_12_R3" style="text-anchor: middle; font-family: &quot;Noto Sans KR&quot;, sans-serif; font-size: 10px; fill: rgb(255, 255, 255); pointer-events: none;"></text></g></g>
                                </svg>
                            </div>

                            <div class="col-sm-12 col-xl-6">
                                <div class="bg-light rounded h-100 p-4 table1" style="margin-top: -170px; width: 760px; margin-left: 524px;">
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <h5>관련 뉴스</h5>
                                    </div>
                                    <div class="tab-content pt-3" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                                            <table style="width:680px;">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">헤드라인</th>

                                                    <th scope="col">게시일</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                  <tr>
                                                    <td><a href="#">이틀 연속 상한가 친 에코프러머티…투자주의 종목 지정</a></td>

                                                    <td>23/11/24</td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- News End -->

{% include 'accounts/footer.html' %}


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/chart/chart.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <script>
        function openInvestmentCalculator() {
            // 새 창을 열기 위한 창 속성
            var features = 'width=800,height=1000,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no';

            // 투자계산기 페이지 URL
            var calculatorURL = "/accounts/calc";

            // 새 창 열기
            window.open(calculatorURL, 'Investment Calculator', features);
        }
    </script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>

<!-- logo -->
<script>
    function redirectToHome() {
        window.location.href = '/';
    }
</script>

    <!--kospi, kosdaq(api는 안가져옴)-->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>