<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RelatedStocks</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body style="margin:0 0;">
<div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
                {% include 'accounts/header.html' %}

            <!-- SelectBox Start -->
                    <h3 class="mb-4">관련주</h3>
            <div class="col-sm-12 col-xl-6" style="width:1322px;">
                <div class="bg-light rounded h-100 p-4" style="width: 83rem;">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">코스피</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab"
                                aria-controls="nav-profile" aria-selected="false">코스닥</button>
                        </div>
                    </nav>

                        <div class="tab-content pt-3" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="container-fluid p-4">
                                    <div class="bg-light rounded h-100 p-4">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox1" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox1">의약품</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox2" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox2">운수장비</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox3" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox3">유통업</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox4" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox4">금융업</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox5" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox5">음식료품</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox6" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox6">운수창고</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox7" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox7">서비스업</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox8" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox8">화학</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox9" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox9">전기,전자</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox10" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox10">비금속광물</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox11" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox11">제조</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox12" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox12">전기,전자</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox13" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox13">유통</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox14" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox14">비금속광물</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox15" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox15">기계</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox16" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox16">철강및금속</label>
                                            </div>


                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox17" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox17">건설업</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox18" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox18">섬유,의복</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox19" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox19">종이,목재</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox20" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox20">의료정밀</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox21" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox21">전기가스업</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox22" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox22">통신업</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox23" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox23">운송</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox24" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox24">의료정밀</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox25" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox25">금융</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox26" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox26">전기가스업</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox27" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox27">통신업</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox28" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox28">사업서비스</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="container-fluid p-4">
                                    <div class="table-responsive">
                                        <div class="bg-light rounded h-100 p-4">
                                        <div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox29" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox29">IT S/W · SVC</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox30" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox30">사업서비스</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox31" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox31">통신방송서비스</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox32" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox32">기타서비스</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox33" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox33">교육서비스</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox34" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox34">오락·문화</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox35" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox35">금융</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox36" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox36">IT H/W</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox37" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox37">제조</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox38" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox38">유통</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox39" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox39">건설</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="inlineCheckbox40" name="stock">
                                                <label class="form-check-label" for="inlineCheckbox40">운송</label>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br><br>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4" style="width: 83rem;">
                    <div class="tab-content pt-3" id="nav-tabContent2">
                        <div class="tab-pane fade show active" id="nav-home2" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="container-fluid p-4">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="stockTable">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">종목명</th>
                                                <th scope="col">거래량</th>
                                                <th scope="col">등락률</th>
                                                <th scope="col">저가</th>
                                                <th scope="col">고가</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row"></th>
                                                <td></td>
                                                <td></td>
                                                <th scope="row"></th>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <th scope="row"></th>
                                                <td></td>
                                                <td></td>
                                                <th scope="row"></th>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <th scope="row"></th>
                                                <td></td>
                                                <td></td>
                                                <th scope="row"></th>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <hr>
                                <br>
                                <div class="col-sm-12 col-xl-6">
                                    <div class="bg-light text-center rounded p-4" style="width: 50rem; position: relative; left: 14rem;">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <h5 class="mb-0">관련주 등락률 비교</h5>
                                        </div>
                                        <img id="stockImage1" src="{% static 'pic/stock_price_plot.png' %}" alt="Stock Chart" style="width: 100%; height: auto;">
                                        <canvas id="salse-revenue"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile2" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="container-fluid p-4">
                                <div class="table-responsive">
<!--                                    <table class="table table-striped">-->
<!--                                        <thead>-->
<!--                                            <tr>-->
<!--                                                <th scope="col"></th>-->
<!--                                                <th scope="col">종목명</th>-->
<!--                                                <th scope="col">거래량</th>-->
<!--                                                <th scope="col">등락률</th>-->
<!--                                                <th scope="col">저가</th>-->
<!--                                                <th scope="col">고가</th>-->
<!--                                            </tr>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->
<!--                                            &lt;!&ndash; 테이블 내용은 여기에 추가 &ndash;&gt;-->
<!--                                            <tr>-->
<!--                                                <th scope="row">1</th>-->
<!--                                                <td>대한항공</td>-->
<!--                                                <td>32,354,424</td>-->
<!--                                                <th scope="row">+30.17%</th>-->
<!--                                                <td>32,354,424</td>-->
<!--                                                <td>32,354,424</td>-->
<!--                                            </tr>-->

<!--                                            <tr>-->
<!--                                                <th scope="row">2</th>-->
<!--                                                <td>아시아나항공</td>-->
<!--                                                <td>12,178,296</td>-->
<!--                                                <th scope="row">+20.17%</th>-->
<!--                                                <td>12,178,296</td>-->
<!--                                                <td>12,178,296</td>-->
<!--                                            </tr>-->

<!--                                            <tr>-->
<!--                                                <th scope="row">3</th>-->
<!--                                                <td>제주항공</td>-->
<!--                                                <td>9,825,611</td>-->
<!--                                                <th scope="row">+10.17%</th>-->
<!--                                                <td>9,825,611</td>-->
<!--                                                <td>9,825,611</td>-->
<!--                                            </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
                                </div>
                                <br>
                                <hr>
                                <br>
<!--                                <div class="col-sm-12 col-xl-6" >-->
<!--                                        <div class="d-flex align-items-center justify-content-between mb-4" >-->
<!--                                            <h5 class="mb-0">관련주 비교</h5>-->
<!--                                        </div>-->
<!--                                        <canvas id="worldwide-sales"></canvas>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                    {% include 'accounts/footer.html' %}

    </div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/chart/chart.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

<!-- 페이지에서 직접 사용되는 스크립트들 -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<!-- 투자 계산기 열기 함수 -->
<script>
    function openInvestmentCalculator() {
        var features = 'width=800,height=1000,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no';
        var calculatorURL = "/accounts/calc";
        window.open(calculatorURL, 'Investment Calculator', features);
    }
</script>

<!-- 홈페이지로 리디렉션 함수 -->
<script>
    function redirectToHome() {
        window.location.href = '/';
    }
</script>


<!-- 주식 업종 선택 시 AJAX 호출 -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
    var stockCompareUrl = "{% url 'accounts:stock_compare' %}";

    $('input[name="stock"]').change(function () {
        if ($(this).is(':checked')) {
            var selectedCategory = $(this).next().text();
            $.ajax({
                type: 'GET',
                url: stockCompareUrl,
                headers: {'X-Requested-With': 'XMLHttpRequest'},
                data: {
                    'selected_category': selectedCategory,
                },
                success: function (data) {
                    console.log('AJAX 성공:', data);

                    // 이미지 URL을 기록
                    console.log('이미지 URL:', data.your_image);

                    // 이미지 소스 업데이트
                    $('#stockImage1').attr('src', data.your_image + '?rand=' + Math.random());

                    // 테이블 데이터 업데이트
                    var tableHtml = '<table class="table table-striped"><thead><tr><th scope="col"></th><th scope="col">종목명</th><th scope="col">거래량</th><th scope="col">등락률</th><th scope="col">저가</th><th scope="col">고가</th></tr></thead><tbody>';

                    for (var i = 0; i < data.stocks.length; i++) {
                        var stock = data.stocks[i];
                        tableHtml += '<tr><th scope="row">' + (i + 1) + '</th><td>' + stock.stock_nm + '</td><td>' + stock.stock_volume + '</td><th scope="row">' + stock.stock_rate + '</th><td>' + stock.low_price + '</td><td>' + stock.high_price + '</td></tr>';
                    }

                    tableHtml += '</tbody></table>';

                    // 테이블 업데이트
                    $('#stockTable').html(tableHtml);
                },
                error: function (error) {
                    console.log('AJAX 오류:', error);
                }
            });
        }
    });
});
</script>
</body>
</html>